import(combinat, splines, glm2, turboEM)
S3method(confint,addreg)
S3method(anova,addreg)
S3method(anova,addreglist)
S3method(vcov,addreg)
S3method(summary,addreg)
S3method(print,addreg)
S3method(print,summary.addreg)
S3method(predict,addreg)
S3method(predict,addreg.smooth)
S3method(plot,addreg.smooth)
export(B)
export(Iso)
export(addbin)
export(addreg)
export(addreg.allref)
export(addreg.control)
export(addreg.design)
export(anova.addreg)
export(anova.addreglist)
export(confint.addreg)
export(contr.isotonic)
export(conv.test)
export(nnnegbin)
export(nnpois)
export(predict.addreg)
export(print.summary.addreg)
export(summary.addreg)
export(vcov.addreg)
export(addreg.smooth)
export(interpret.addreg.smooth)
export(addreg.smooth.allref)
export(addreg.smooth.design)
export(predict.addreg.smooth)
export(plot.addreg.smooth)
export(negbin1)